<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
         body {
             background-color:mediumpurple;
             color:yellow;
         }
    </style>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        
    </hgroup>
    <h1> An error occurred while processing your request. Re-check your input or contact customer support.</h1>
</body>
</html>
